<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringLab01Application (prod)" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="prod" />
    <module name="spring-lab-01" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="kz.iitu.springlab.SpringLab01Application" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
